.form_wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 5%;
}

.form_container {
  background-color: whitesmoke;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 2px 3px 4px 4px rgba(0, 0, 0, 0.15);
}

.left_side {
  width: 60%;
  height: 100%;
  position: relative;
  background: rgb(115, 0, 202);
  background: linear-gradient(
    90deg,
    rgba(115, 0, 202, 1) 100%,
    rgba(95, 0, 168, 1) 100%
  );
}

.right_side {
  width: 40%;
  height: 100%;
}

.right_side {
  padding: 5%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.right_side .login_form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login_form input {
  width: 100%;
  height: 50px;
  border: none;

  background-color: whitesmoke;
  outline: none;
  padding: 0 8px;
}

.gradient_border {
  background: rgb(225, 54, 194);
  background: linear-gradient(
    220deg,
    rgba(225, 54, 194, 1) 0%,
    rgba(138, 76, 185, 1) 87%
  );
  width: 100%;
  height: 2px;
  margin-top: -10px;
}

.login_form button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background: rgb(225, 54, 194);
  background: linear-gradient(
    220deg,
    rgba(225, 54, 194, 1) 0%,
    rgba(138, 76, 185, 1) 87%
  );
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

.login_form button:hover {
  background: rgba(138, 76, 185, 1);
  background: linear-gradient(
    220deg,
    rgba(138, 76, 185, 1) 0%,
    rgba(225, 54, 194, 1) 87%
  );
}

.socmed_login {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.socmed_login .g_login {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background: rgb(255, 0, 0);
  background: linear-gradient(
    220deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(131, 23, 23, 1) 100%
  );
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 400;
}

.g_login:hover {
  background: rgba(131, 23, 23, 1);
  background: linear-gradient(
    220deg,
    rgba(131, 23, 23, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
}

.socmed_login .f_login {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background: rgb(28, 61, 108);
  background: linear-gradient(
    220deg,
    rgba(28, 61, 108, 1) 0%,
    rgba(45, 138, 208, 1) 100%
  );
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 400;
}

.f_login:hover {
  background: rgba(45, 138, 208, 1);
  background: linear-gradient(
    220deg,
    rgba(45, 138, 208, 1) 0%,
    rgba(28, 61, 108, 1) 100%
  );
}

.fa {
  margin: 0 8px;
}

.decorationAwan1 {
  position: absolute;
  width: 300px;
  height: auto;
  bottom: 0;
  left: 0;
  object-fit: cover;
}

.decorationAwan2 {
  position: absolute;
  width: 300px;
  height: auto;
  top: 0;
  right: 0;
  object-fit: cover;
}

.bulet1 {
  position: absolute;
}
